#login {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #89898978;
    padding: 20px;
}

.container {
    position: relative;
    max-width: 430px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;    
}

.container .forms {
    display: flex;
    align-items: center;
    height: 450px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form {
    width: 50%;
    padding: 30px;
    /* background-color: #fff; */
    transition: margin-left 0.18s ease;
}

.container.active .login {
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup {
    opacity: 0;
    transition: opacity 0.09s ease;
}

.container.active .signup {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms {
    min-height: 650px;
}

.container .form .title {
    position: relative;
    font-size: 28px;
    font-weight: 600;
}

.form .title::before {
    content: "";
    position: absolute;
    left: 0; 
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #088178;
    border-radius: 25px;
}

.container .form .error {
    display: block;
    color: red;
    margin-top: 10px;
}

.form .input-field {    
    position: relative;
    min-height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input[required]:focus,
.input-field input[required]:valid {
    border-bottom-color: #088178;
}

.input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 24px;
    transition: all 0.2s ease;
}

.input-field input[required]:focus ~ i,
.input-field input[required]:valid ~ i {
    color: #088178;
}

.input-field i.icon {
    left: 0;

}

.input-field i.showHidePw {
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text {    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content {
    display: flex;
    align-items: center;
}

.checkbox-content input {
    margin: 0 8px 0 4px;
    accent-color: #088178;
}

.form .text {
    color: #333;
    font-size: 14px;
}

.form a.text {
    color: #088178;
    text-decoration: none;    
}

.form a:hover {
    text-decoration: underline;
}

.form .button {
    margin-top: 35px;
}

.form .button input {
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: black;
    cursor: pointer;
    opacity: 0.8;
    transition: all 0.3s ease;
}

.form .button input:hover {
    opacity: 1;
}

.form .login-signup {
    margin-top: 30px;
    text-align: center;
}

#news-letter {
    margin-top: 0;
}