
                .fhs_suborder_button_box{
                    padding-bottom: 10px;
                }
                @media (max-width: 768px){
                    .fhs_suborder_button_box{
                        -webkit-justify-content: center;
                        justify-content: center;
                    }
                    .fhs_suborder_button_box > a{
                        flex-grow: 1;
                    }
                }
                @media (max-width: 390px){
                    .fhs_suborder_button_box > a{
                        font-size: 13px;
                    }
                }
 

                #header .header_top .header_top_main::before {
                    float: right;
                    height: 37px;
                    overflow: hidden;
                }
                .container::after {
                    margin: 0 auto;
                    width: 1230px;
                    padding: 0;

                }


                #header .head-main {
                    float: left;
                    min-height: 93px;
                    width: 100%;
                    background: #fd5a32;
                }

                .category-vmega_toggle{
                    display:none;
                }
         
                /* start css for main template*/
                .my-account{
                    padding : 0px 0px;
                }
                .main{
                    margin-top: 10px;
                }
                .col-fhs-main-body{
                    padding : 0;
                }
                .price{
                    font-family: sans-serif!important;
                }
                /* end css for main template*/
       